.header-root {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    border-bottom: 1px solid #efefef;
    position: relative;
    z-index: 10;
    background-color: #fefefe;
}

.header-title {
    font-weight: bold;
}

.nav-menu {
    position: absolute;
    top: 100%;
    right: 16px;
    margin-top: 8px;
    min-width: 180px;
    max-width: 260px;
    padding: 8px 0;
    display: flex;
    flex-direction: column;
    gap: 8px;
    border-radius: 15px;
}

.nav-link {
    padding: 8px 16px;
    border-radius: 4px;
    font-weight: 500;
    font-size: 1rem;
    text-decoration: none;
    color: inherit;
}

.nav-link:hover {
    background-color: rgba(0, 0, 0, 0.04); /* MUIのaction.hover相当 */
}
